body {
    background-image: url(/assets/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    padding: 1rem 5rem;
}

.wrap-ayat {
    color: white;
    font-size: 20px;
    padding: 30px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    min-width: 400px;
    max-width: calc(65vw - 300px);
    max-height: 40vh;
    overflow: auto;
    text-align: center;
    margin: 0 auto;
    margin-top: 30vh;
}

span {
    display: block;
}

#terjemah {
    margin-top: 1rem;
}

#prev_next {
    display: inline-block;
    margin-left: 385px;
    font-size: 20px;
}

#prev {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    transition: 2s;
}

#prev:hover {
    padding: 11px 35px;
    background-color: rgba(89, 0, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 20px;
    transition: 0.2s;
    margin-right: -30px;
}

#prev:active {
    padding: 11px 35px;
    background-color: rgba(255, 255, 25, 0.7);
    transition: 0.1s;
}

#next {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    margin-left: 442px;
    transition: 2s;
}

#next:hover {
    padding: 11px 35px;
    background-color: rgba(89, 0, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 20px;
    transition: 0.4s;
}

#next:active {
    padding: 11px 35px;
    background-color: rgba(255, 255, 25, 0.7);
    transition: 0.1s;
}